# Build outputs
/build/
DerivedData/
SourcePrint/build/

/SourcePrint/build/
# Xcode user settings
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/ 



/ProResWriter/EXAMPLE Movie Timecode
