# Build outputs
/build/
DerivedData/
macos/build/
static-build/
ffmpeg-frameworks/

# Legacy build dirs (can be deleted)
ffmpeg-build/
deps-build/

# Build scripts
pkg-config

# Release artifacts
*.zip
*.tmp

# Xcode user settings
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved

# Keys 
*PRIVATE_KEY*
*private*key*
*.pem

